<!DOCTYPE html>
<html>

<head>
    <!-- 应用本地存储 -->

    <style media="screen">
        @media (min-width:240px) {
            #bd {
                background-color: black;
                overflow: hidden;
            }
            .p {
                color: blue;
                //background-color: blue;
                font-size: 20px;
                margin-left: 50px;
            }
            #video {
                background-color: black;
            }
            #video iframe {
                margin: 4px;
            }
        }
    </style>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title></title>
</head>

<body id="bd">
    <p class="p">STREET WORKOUT</p>
    <iframe height=107 width=140 src='http://player.youku.com/embed/XMjY1NDQ2NTM0NA==' frameborder=0 'allowfullscreen'></iframe>
    <div class="" id="tabbar">

    </div>
    <div class="" id="video">
        <iframe height=107 width=140 src='http://player.youku.com/embed/XODY5MzA4NzA4' frameborder=0 'allowfullscreen'></iframe>
        <iframe height=107 width=140 src='http://player.youku.com/embed/XOTUxMDIzNTUy' frameborder=0 'allowfullscreen'></iframe>
    </div>
</body>

</html>
